@import url('https://fonts.googleapis.com/css?family=Kumar+One|Ubuntu');

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-button {
  margin: -5px;
}

.logo-div {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Kumar One";
  font-size: 50px;
}

.home-btn {
  font-family: "Kumar One";
}

h3 {
  font-family: "Ubuntu";
}
