<div ng-controller="courseController as ctrl">
  <div class="container">
    <h3>
      {{ctrl.course.department.symbol}} {{ctrl.course.number}} - {{ctrl.course.name}}
    </h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Instructor: {{ ctrl.course.instructor.last_name }}, {{ ctrl.course.instructor.first_name }}
          <button id="registerBtn" ng-click="ctrl.register(ctrl.course.id)" class="pull-right btn btn-primary panel-button">Register</button>
        </h5>
        <h5>Credits: {{ ctrl.course.credits }}</h5>
        <h5>CRN: {{ ctrl.course.id }}</h5>
        <h5>Enrolled: {{ ctrl.course.enrolled }}</h5>
        <h5>Cap: {{ ctrl.course.cap }}</h5>
        <br>
        <table class="table">
          <h5>Meeting times:</h5>
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Building</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="meeting in ctrl.course.meetings">
              <td>{{ meeting.day }}</td>
              <td>{{ meeting.time }}</td>
              <td><a href="/building/{{meeting.room.building.id}}">{{ meeting.room.building.name }}</a></td>
              <td>{{ meeting.room.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Feedback Modal Begins  -->
  <div class="modal fade" id="feedbackModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{ ctrl.modalMessage }}
            <button type="button" class="pull-right btn btn-secondary" data-dismiss="modal">Close</button>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Feedback modal ends -->
</div>
