<div ng-controller="coursesController as ctrl">
  <div class="container">
    <h3>Courses</h3>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Term
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="term in ctrl.terms"><a ng-click="ctrl.getCourses(term)" href=''>{{ term.season }} {{ term.year }}</a></li>
      </ul>
    </div>
    <br>
    <div ng-if="ctrl.courses[0]" class="panel panel-default">
      <div class="panel-heading">
        {{ ctrl.selectedTerm.season }} {{ ctrl.selectedTerm.year }}
      </div>
      <div class="panel-body">
        <div class="panel panel-default" ng-repeat="course in ctrl.courses" class="">
          <div class="panel-body">
            <h4><a href="/course/{{course.id}}">{{ course.name }}</a></h4>
            <p>Instructor: {{ course.instructor.last_name }}, {{ course.instructor.first_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
