<!-- Although attached to loginController this mainly uses mainController -->
<div class="vertical-center" ng-controller="loginController as ctrl">
  <div class="container">
    <div class="col-md-4 text-center logo-div">
      <h1 class="logo">CourseWEB</h1>
    </div>
    <div class="col-md-offset-2 col-md-6 panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" ng-submit="main.login(userPass)">
          <div id="usernameInput" class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" ng-model="userPass.username" placeholder="Username" required="true"/>
            </div>
          </div>
          <div id="passwordInput" class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input class="form-control" type="password" ng-model="userPass.password" placeholder="Password" required="true"/>
            </div>
          </div>
          <div class="has-error form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" type="submit">
                Submit
                <i id="loginSpinner" style="display:none" class="fa fa-refresh fa-spin"></i>
              </button>
              <span id="loginFeedback" class="pull-right help-block"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
